<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/8988a86ddd.js" crossorigin="anonymous"></script>
    <title>SmartBar - <%= title %></title>
</head>
<body>

<div id="sidebar-component">
    <sidebar></sidebar>
</div>

<div id="main" class="main">
    <div id="navbar-components">
        <navbar></navbar>
    </div>

    <p>Inserindo novo produto</p>

    <form id="add" action="#">
        <input type="text" id="product_name">
        <input type="number" id="price">
        <button onclick="sendProduct(this)">Salvar</button>
    </form>

    <div id="snackbar">Produto Adicionado</div>


</div>

<script src="/includes/sidebar.js"></script>
<script src="/includes/navbar.js"></script>

<script src="/js/products.js"></script>

<script>

    const sendProduct = (e) => {

        e.preventDefault;

        let product_name = document.getElementById('product_name').value;
        let price = document.getElementById('price').value;

        addProduct(product_name, price).then(resp => {

            let x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(() => {
                x.className = x.className.replace("show", "");
            }, 3000);

        }).catch((err) => {

        });

        console.log(product_name);

    }

</script>


</body>
</html>
