<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/8988a86ddd.js" crossorigin="anonymous"></script>
    <title>SmartBar - <%= title %></title>
</head>
<body>

<div id="sidebar-component">
    <sidebar></sidebar>
</div>

<div id="main" class="main">
    <div id="navbar-components">
        <navbar></navbar>
    </div>

    <p>Aqui vai vim uns cards </p>
    <p>é uma imagens</p>
    <p>E algumas coisas extras</p>
    <p>Tipo essa micro atualização...</p>
    <p>Isso ta virando uma lista de atualização?</p>
</div>


<script src="includes/navbar.js"></script>
<script src="includes/sidebar.js"></script>



</body>
</html>
