<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartBar - <%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>

</head>
<body style="background: red">

<div class="name">
    <p>SmartBar</p>
</div>


</body>
</html>
