<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/8988a86ddd.js" crossorigin="anonymous"></script>
    <title>SmartBar - <%= title %></title>
</head>
<body>

<div id="sidebar-component">
    <sidebar></sidebar>
</div>

<div id="main" class="main">
    <div id="navbar-components">
        <navbar></navbar>
    </div>

    <div id="app">

        <div v-if="error">
            <p>Ops... Ocorreu um erro ao obter os dados :(</p>
            <p>{{ msg_error }}</p>
        </div>

        <div v-else>

            <div v-if="loading">
                <div id="status" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div v-if="empty">
                <div id="empty">
                    <img src="img/empty.svg" width="40%">
                    <p class="empty-error">Você não tem produtos cadastrados...<br>Que tal cadastrar agora?</p>
                    <a href="/produtos/add">
                        <button class="insert-btn">Cadastrar Produto</button>
                    </a>
                </div>
            </div>

            <div v-else>

                <a href="/produtos/add">
                    <button id="addBtn" title="Adicionar produto"><i class="fas fa-plus"></i></button>
                </a>

                <div class="search container">
                    <input onkeyup="search()" id="search" placeholder="Pesquisar um produto">
                </div>

                <div id="result" class="container">
                    <div v-for="product in info" class="currency clearfix">
                        <div>
                            <span>#{{ product.id }} {{ product.product_name }} | {{ product.price }} R$</span>

                            <div class="column">
                                <button v-on:click="deleteProduct(product.id)" class="delete-btn"><i
                                            class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div id="empty" style="display: none">
                        <img src="img/empty.svg" width="40%">
                        <p class="empty-error">Não achamos seu produto...<br>Que tal cadastrar ele?</p>
                        <a href="/produtos/add">
                            <button class="insert-btn">Cadastrar Produto</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="includes/navbar.js"></script>
<script src="includes/sidebar.js"></script>

<script src="js/products.js"></script>


</body>

</html>
