<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/8988a86ddd.js" crossorigin="anonymous"></script>
    <title>SmartBar - <%= title %></title>
</head>
<body>

<div id="navbar-components">
    <navbar></navbar>
    <sidebar></sidebar>
</div>

<div id="updateBtn" style="display: none">
    <a onclick="updateApp()" href="#">
        <button class="insert-btn">Atualize seu APP!</button>
    </a>
</div>

<div id="empty" style="display:none;">
    <img src="img/empty.svg" width="40%">
    <p class="empty-error">Não há atualizações disponíveis!</p>
</div>


<script src="/includes/navbar.js"></script>
<script src="/includes/autoupdate.js"></script>

</body>
</html>
